<div class="relative w-full h-full">
  <div class="absolute inset-0 bg-black opacity-80"></div>
  <div style="background-image: url('./assets/not-found.jpg')" class="bg-cover h-full w-full"></div>
  <div class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 text-center">
    <img class="mx-auto" src="./assets/error-text.png" alt="error">
    <h2 class="mt-6 text-6xl font-bold text-white">
      Ooops! Page Not Found!
    </h2>
    <a
      routerLink="/"
      class="mt-8 py-3 px-10 inline-flex rounded capitalize font-medium bg-indigo-500 text-white border border-indigo-500 transition duration-300 hover:bg-transparent hover:text-indigo-500"
    >
      Back To Homepage
    </a>
  </div>
</div>
