<div>
  <ng-select appearance="outline"
             placeholder="Select resume type">
    <ng-option value="batman">
      Batman
    </ng-option>
    <ng-option value="spidey">
      Spider-Man & Goblin
    </ng-option>
    <ng-option value="thor">
      Thor
    </ng-option>
  </ng-select>

  <div class="flex justify-end">
    <button class="focus:outline-none mt-3 py-2 px-6 text-white border border-indigo-500 bg-indigo-500 hover:text-indigo-500 hover:bg-white">
      Save
    </button>
  </div>
</div>
