<div class="py-16 bg-white">
  <div class="container mx-auto">
    <h3 class="uppercase text-2xl font-bold text-center">
      Featured Jobs Listings
    </h3>
    <p class="text-sm font-light text-gray-700 text-center mt-2 mb-8">
      A better career is out there. We'll help you find it routerLink use.
    </p>
    <div class="grid grid-cols-2 grid-rows-2 gap-8">
      <!-- one job-->
      <div class="border overflow-hidden">
        <div class="flex">
          <figure class="py-5 px-8 flex items-center border-r">
            <a routerLink="/jobs/1" class="w-16 inline-block">
              <img src="assets/images/job-01.jpg" alt="job" class="max-w-full w-full" />
            </a>
          </figure>
          <div class="px-5 py-3 w-full">
            <div class="flex justify-between items-center">
              <h2 class="text-lg font-bold leading-none truncate">
                <a routerLink="/jobs/1">Dropbox -- UX designer</a>
              </h2>
              <button type="button" class="focus:outline-none">
                <svg
                  class="w-5 h-5 text-red-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
                  ></path>
                </svg>
              </button>
            </div>
            <time datetime="2020-10-23 7:00" class="text-xs text-gray-500">
              October 23, 2020
            </time>
            <div
              class="border-t mt-3 pt-3 flex justify-between items-center"
            >
              <ul class="flex space-x-3">
                <li class="flex items-center">
                  <svg
                    class="w-3 h-3 text-gray-500 mr-1"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
                    ></path>
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
                    ></path>
                  </svg>
                  <span class="text-gray-500 text-xs">Rennes, France</span>
                </li>
                <li class="flex items-center">
                  <svg
                    class="w-3 h-3 text-gray-500 mr-1"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z"
                    ></path>
                  </svg>
                  <span class="text-gray-500 text-xs">Rennes, France</span>
                </li>
              </ul>
              <span
                class="px-6 py-2 text-white text-xs uppercase bg-green-500"
              >
                    Freelance
                  </span>
            </div>
          </div>
        </div>
      </div>
      <!-- one job-->
      <div class="border overflow-hidden">
        <div class="flex">
          <figure class="py-5 px-8 flex items-center border-r">
            <a routerLink="/jobs/1" class="w-16 inline-block">
              <img src="assets/images/job-01.jpg" alt="job" class="max-w-full w-full" />
            </a>
          </figure>
          <div class="px-5 py-3 w-full">
            <div class="flex justify-between items-center">
              <h2 class="text-lg font-bold leading-none truncate">
                <a routerLink="/jobs/1">Dropbox -- UX designer</a>
              </h2>
              <button type="button" class="focus:outline-none">
                <svg
                  class="w-5 h-5 text-red-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
                  ></path>
                </svg>
              </button>
            </div>
            <time datetime="2020-10-23 7:00" class="text-xs text-gray-500">
              October 23, 2020
            </time>
            <div
              class="border-t mt-3 pt-3 flex justify-between items-center"
            >
              <ul class="flex space-x-3">
                <li class="flex items-center">
                  <svg
                    class="w-3 h-3 text-gray-500 mr-1"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
                    ></path>
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
                    ></path>
                  </svg>
                  <span class="text-gray-500 text-xs">Rennes, France</span>
                </li>
                <li class="flex items-center">
                  <svg
                    class="w-3 h-3 text-gray-500 mr-1"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z"
                    ></path>
                  </svg>
                  <span class="text-gray-500 text-xs">Rennes, France</span>
                </li>
              </ul>
              <span
                class="px-6 py-2 text-white text-xs uppercase bg-green-500"
              >
                    Freelance
                  </span>
            </div>
          </div>
        </div>
      </div>
      <!-- one job-->
      <div class="border overflow-hidden">
        <div class="flex">
          <figure class="py-5 px-8 flex items-center border-r">
            <a routerLink="/jobs/1" class="w-16 inline-block">
              <img src="assets/images/job-01.jpg" alt="job" class="max-w-full w-full" />
            </a>
          </figure>
          <div class="px-5 py-3 w-full">
            <div class="flex justify-between items-center">
              <h2 class="text-lg font-bold leading-none truncate">
                <a routerLink="/jobs/1">Dropbox -- UX designer</a>
              </h2>
              <button type="button" class="focus:outline-none">
                <svg
                  class="w-5 h-5 text-red-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
                  ></path>
                </svg>
              </button>
            </div>
            <time datetime="2020-10-23 7:00" class="text-xs text-gray-500">
              October 23, 2020
            </time>
            <div
              class="border-t mt-3 pt-3 flex justify-between items-center"
            >
              <ul class="flex space-x-3">
                <li class="flex items-center">
                  <svg
                    class="w-3 h-3 text-gray-500 mr-1"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
                    ></path>
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
                    ></path>
                  </svg>
                  <span class="text-gray-500 text-xs">Rennes, France</span>
                </li>
                <li class="flex items-center">
                  <svg
                    class="w-3 h-3 text-gray-500 mr-1"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z"
                    ></path>
                  </svg>
                  <span class="text-gray-500 text-xs">Rennes, France</span>
                </li>
              </ul>
              <span
                class="px-6 py-2 text-white text-xs uppercase bg-green-500"
              >
                    Freelance
                  </span>
            </div>
          </div>
        </div>
      </div>
      <!-- one job-->
      <div class="border overflow-hidden">
        <div class="flex">
          <figure class="py-5 px-8 flex items-center border-r">
            <a routerLink="/jobs/1" class="w-16 inline-block">
              <img src="assets/images/job-01.jpg" alt="job" class="max-w-full w-full" />
            </a>
          </figure>
          <div class="px-5 py-3 w-full">
            <div class="flex justify-between items-center">
              <h2 class="text-lg font-bold leading-none truncate">
                <a routerLink="/jobs/1">Dropbox -- UX designer</a>
              </h2>
              <button type="button" class="focus:outline-none">
                <svg
                  class="w-5 h-5 text-red-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
                  ></path>
                </svg>
              </button>
            </div>
            <time datetime="2020-10-23 7:00" class="text-xs text-gray-500">
              October 23, 2020
            </time>
            <div
              class="border-t mt-3 pt-3 flex justify-between items-center"
            >
              <ul class="flex space-x-3">
                <li class="flex items-center">
                  <svg
                    class="w-3 h-3 text-gray-500 mr-1"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
                    ></path>
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
                    ></path>
                  </svg>
                  <span class="text-gray-500 text-xs">Rennes, France</span>
                </li>
                <li class="flex items-center">
                  <svg
                    class="w-3 h-3 text-gray-500 mr-1"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z"
                    ></path>
                  </svg>
                  <span class="text-gray-500 text-xs">Rennes, France</span>
                </li>
              </ul>
              <span
                class="px-6 py-2 text-white text-xs uppercase bg-green-500"
              >
                    Freelance
                  </span>
            </div>
          </div>
        </div>
      </div>
      <!-- one job-->
      <div class="border overflow-hidden">
        <div class="flex">
          <figure class="py-5 px-8 flex items-center border-r">
            <a routerLink="/jobs/1" class="w-16 inline-block">
              <img src="assets/images/job-01.jpg" alt="job" class="max-w-full w-full" />
            </a>
          </figure>
          <div class="px-5 py-3 w-full">
            <div class="flex justify-between items-center">
              <h2 class="text-lg font-bold leading-none truncate">
                <a routerLink="/jobs/1">Dropbox -- UX designer</a>
              </h2>
              <button type="button" class="focus:outline-none">
                <svg
                  class="w-5 h-5 text-red-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
                  ></path>
                </svg>
              </button>
            </div>
            <time datetime="2020-10-23 7:00" class="text-xs text-gray-500">
              October 23, 2020
            </time>
            <div
              class="border-t mt-3 pt-3 flex justify-between items-center"
            >
              <ul class="flex space-x-3">
                <li class="flex items-center">
                  <svg
                    class="w-3 h-3 text-gray-500 mr-1"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
                    ></path>
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
                    ></path>
                  </svg>
                  <span class="text-gray-500 text-xs">Rennes, France</span>
                </li>
                <li class="flex items-center">
                  <svg
                    class="w-3 h-3 text-gray-500 mr-1"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z"
                    ></path>
                  </svg>
                  <span class="text-gray-500 text-xs">Rennes, France</span>
                </li>
              </ul>
              <span
                class="px-6 py-2 text-white text-xs uppercase bg-green-500"
              >
                    Freelance
                  </span>
            </div>
          </div>
        </div>
      </div>
      <!-- one job-->
      <div class="border overflow-hidden">
        <div class="flex">
          <figure class="py-5 px-8 flex items-center border-r">
            <a routerLink="/jobs/1" class="w-16 inline-block">
              <img src="assets/images/job-01.jpg" alt="job" class="max-w-full w-full" />
            </a>
          </figure>
          <div class="px-5 py-3 w-full">
            <div class="flex justify-between items-center">
              <h2 class="text-lg font-bold leading-none truncate">
                <a routerLink="/jobs/1">Dropbox -- UX designer</a>
              </h2>
              <button type="button" class="focus:outline-none">
                <svg
                  class="w-5 h-5 text-red-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
                  ></path>
                </svg>
              </button>
            </div>
            <time datetime="2020-10-23 7:00" class="text-xs text-gray-500">
              October 23, 2020
            </time>
            <div
              class="border-t mt-3 pt-3 flex justify-between items-center"
            >
              <ul class="flex space-x-3">
                <li class="flex items-center">
                  <svg
                    class="w-3 h-3 text-gray-500 mr-1"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
                    ></path>
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
                    ></path>
                  </svg>
                  <span class="text-gray-500 text-xs">Rennes, France</span>
                </li>
                <li class="flex items-center">
                  <svg
                    class="w-3 h-3 text-gray-500 mr-1"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z"
                    ></path>
                  </svg>
                  <span class="text-gray-500 text-xs">Rennes, France</span>
                </li>
              </ul>
              <span
                class="px-6 py-2 text-white text-xs uppercase bg-green-500"
              >
                    Freelance
                  </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-16">
      <a
        routerLink="/jobs"
        class="uppercase text-sm font-bold px-8 py-4 rounded border border-indigo-500 bg-indigo-500 text-white hover:bg-white hover:text-indigo-500"
      >
        View all jobs
      </a>
    </div>
  </div>
</div>
