<div class="bg-white p-6">
  <h2 class="text-2xl font-medium text-indigo-500 border-b pb-3">Change Password</h2>
  <div class="py-6">
    <form *ngIf="form" (ngSubmit)="onSubmit()" [formGroup]="form">
      <app-input
        [control]="form.get('oldPassword')"
        label="Old Password"
        inputType="password">
      </app-input>
      <app-input
        [control]="form.get('newPassword')"
        label="New Password"
        inputType="password">
      </app-input>
      <app-input
        [control]="form.get('enterPassword')"
        label="Re-enter New Password"
        inputType="password">
      </app-input>
      <button
        type="submit"
        class="mt-4 btn btn-indigo">
        Change Password
      </button>
    </form>
  </div>
</div>
