<div class="py-12 bg-white">
  <div class="container mx-auto">
    <div class="grid grid-cols-2 gap-6">
      <div class="col-span-1 flex items-center">
        <div class="space-y-4">
          <h2 class="text-4xl font-bold uppercase leading-tight">
            ABOUT OUR COMPANY
          </h2>
          <span class="font-medium text-base leading-none">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet assumenda blanditiis eaque, enim error, excepturi facere incidunt itaque nulla is sunt ullam vitae!
        </span>
          <p class="text-gray-600">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus beatae, facilis nesciunt nobis provident qui tempora! Ab amet consectetur deleniti dolorum impedit laboriosam, nam neque nulla officia quidem quo veniam.
            <br />
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi beatae culpa enim fugit, impedit libero maiores minima nostrum officiis optio perferendis porro qui quis, quos suscipit tenetur unde ut.
          </p>
          <a
            routerLink="/jobs"
            class="py-3 px-10 inline-flex rounded uppercase font-medium bg-indigo-500 text-white border border-indigo-500 transition duration-300 hover:bg-transparent hover:text-indigo-500"
          >
            Search Jobs
          </a>
        </div>
      </div>
      <div class="col-span-1 flex items-center justify-center">
        <img src="./assets/about-thumb.png" alt="about">
      </div>
    </div>
  </div>

  <div class="mt-12 bg-gray-100">
    <div class="flex">
      <div class="col-span-5">
        <img class="h-80" src="./assets/about-candidate.jpg" alt="candidate">
      </div>
      <div class="col-span-7 pl-16 flex items-center">
        <div class="max-w-xl mx-auto divide-y-2 space-y-6">
          <p class="text-4xl font-normal">
            I just got a job that I applied for via careerfy!
            I used the site all the time during my job hunt.
          </p>
          <div class="pt-6">
            <h2 class="text-2xl font-highlight">
              Nguyen Xuan Dien
            </h2>
            <span class="text-gray-400 font-normal">
                Thu Duc, Viet Nam
              </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-20 container mx-auto">
    <div class="grid grid-cols-2 gap-6">
      <div class="col-span-1 flex items-center">
        <div class="space-y-4">
          <h2 class="text-3xl font-bold uppercase">
            MILLIONS OF JOBS.
            <br/>
            FIND THE ONE THAT’S RIGHT FOR YOU.
          </h2>
          <p class="text-gray-600">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus beatae, facilis nesciunt nobis provident qui tempora! Ab amet consectetur deleniti dolorum impedit laboriosam, nam neque nulla officia quidem quo veniam.
            <br />
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi beatae culpa enim fugit, impedit libero maiores minima nostrum officiis optio perferendis porro qui quis, quos suscipit tenetur unde ut.
          </p>
          <a
            routerLink="/jobs"
            class="py-3 px-10 inline-flex rounded uppercase font-medium bg-indigo-500 text-white border border-indigo-500 transition duration-300 hover:bg-transparent hover:text-indigo-500"
          >
            Search Jobs
          </a>
        </div>
      </div>
      <div class="col-span-1 flex items-center justify-center">
        <img src="./assets/multiple-logos.jpg" alt="companies">
      </div>
    </div>
  </div>
</div>
