<ng-container *ngIf="vm$ | async as vm">
  <span *ngIf="vm.loading; else done">Loading...</span>
  <ng-template #done>
    <div class="pb-12 container mx-auto">
      <div class="py-6 grid grid-cols-4 gap-6">
        <div class="col-span-1">
          <div class="bg-white">
            <figure class="w-full h-56 border-b flex justify-center">
              <img
                [src]="vm.job.company.logo"
                [alt]="vm.job.company.name"
              />
            </figure>
            <div class="p-8">
              <h3 class="text-2xl font-medium text-center">{{ vm.job.company.name }}</h3>
              <div class="mt-4 flex justify-between">
                <div class="text-center">
                  <p class="text-xl font-medium">Founded Year</p>
                  {{ vm.job.company.foundedYear }}
                </div>
                <div class="text-center">
                  <p class="text-xl font-medium">Company Size</p>
                  {{ vm.job.company.companySize }}
                </div>
                <div class="text-center">
                  <p class="text-xl font-medium">Average Age</p>
                  {{ vm.job.company.averageAge }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-span-3">
          <div class="p-8 bg-white">
            <div class="space-x-4 flex font-bold text-xs">
          <span class="py-1 px-4 rounded-full bg-indigo-500 text-white uppercase">
            {{ vm.job.jobType.name }}
          </span>
              <span *ngIf="vm.job.salaryType !== 'Negotiable'" class="py-1 px-4 rounded-full bg-green-500 text-white uppercase">
            OFFERED SALARY : {{ vm.job.salaryMin | currency }} -  {{ vm.job.salaryMax | currency }} / {{ vm.job.salaryType }}
          </span>
            </div>
            <div class="py-3">
              <h2 class="text-4xl font-bold">{{ vm.job.name }}</h2>
            </div>
            <div class="space-y-1">
              <div class="flex items-center">
                <svg class="w-6 h-6 text-gray-400 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
                <span class="text-gray-400">
              {{ vm.job.address }}
            </span>
              </div>
              <div class="flex items-center">
                <svg class="w-6 h-6 text-gray-400 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path></svg>
                <span class="text-gray-400">
              1 day ago
            </span>
              </div>
            </div>
            <button
              (click)="openApplyJobModal()"
              class="focus:outline-none mt-8 py-3 w-full rounded text-xl border border-indigo-500 bg-indigo-500 font-bold text-white hover:bg-white hover:text-indigo-500">
              Apply Now
            </button>
            <!-- ========== content post job ============ -->
            <hr class="mt-8" />
            <div class="py-3">
              <div class="job-content" [innerHTML]="vm.job.description"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ng-container>
