@import '~ng-zorro-antd/style/index.min.css';
@import '~ng-zorro-antd/modal/style/index.min.css';
@import '~ng-zorro-antd/notification/style/index.min.css';
@import '~ng-zorro-antd/dropdown/style/index.min.css';
@import '~ng-zorro-antd/switch/style/index.min.css';
@import '~ng-zorro-antd/pagination/style/index.min.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Roboto', sans-serif;
  @apply bg-gray-100 text-sm text-gray-900 font-normal leading-normal antialiased;
}

.ng-select-container.ng-appearance-outline {
  @apply py-3 px-4 text-xs;
}

.ng-dropdown-panel.ng-select-bottom {
  @apply text-xs border bg-white text-gray-800;
}

.ng-option {
  @apply py-2 px-3;
}

.ng-option:hover {
  @apply bg-gray-300;
}

.ng-select .ng-has-value .ng-placeholder {
  @apply hidden;
}

.ng-select .ng-arrow-wrapper {
  width: 18px;
}

.ng-select .ng-arrow-wrapper .ng-arrow {
  border-color: #999999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
}

.ng-select.ng-select-opened > .ng-select-container .ng-arrow {
  top: -2px;
  border-color: transparent transparent #999999;
  border-width: 0 5px 5px;
}

.ng-value {
  background-color: #667eea;
  color: #ffffff;
  margin-right: 5px;
  border-radius: 2px;
}

.ng-value span {
  padding: 2px 7px;
}

.ng-value span:first-child {
  border-right: 1px solid #ffffff;
}
