<div>
  <svg
    class="w-24 h-24 mx-auto text-indigo-500"
    fill="none"
    stroke="currentColor"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z">
    </path>
  </svg>
  <h2 class="text-center text-4xl font-bold text-indigo-500 mb-4">Checkout</h2>
  <div class="mb-3 space-y-1">
    <div class="mb-3 space-y-1">
      <label class="text-sm font-bold">Email</label>
    </div>
    <input
      required
      type="email"
      placeholder="Email"
      class="w-full focus:outline-none py-3 px-4 border rounded-sm text-xs"/>
  </div>
  <div class="mb-3 space-y-1">
    <div class="mb-3 space-y-1">
      <label class="text-sm font-bold">Card Number</label>
    </div>
    <div
      #cardNumber
      class="w-full focus:outline-none py-3 px-4 border rounded-sm text-xs">
    </div>
    <span class="text-xs text-red-500">{{ cardErrors }}</span>
  </div>
  <div class="grid grid-cols-2 gap-6">
    <div class="mb-3 space-y-1">
      <div class="mb-3 space-y-1">
        <label class="text-sm font-bold">Card Expiry</label>
      </div>
      <div
        #cardExpiry
        class="w-full focus:outline-none py-3 px-4 border rounded-sm text-xs">
      </div>
    </div>
    <div class="mb-3 space-y-1">
      <div class="mb-3 space-y-1">
        <label class="text-sm font-bold">Card CVC</label>
      </div>
      <div
        #cardCvc
        class="w-full focus:outline-none py-3 px-4 border rounded-sm text-xs">
      </div>
    </div>
  </div>
  <button
    class="focus:outline-none mt-4 py-2 w-full border text-white bg-indigo-500 rounded-sm">
    Checkout
  </button>
</div>
